<% include partials/header %>

<h1 class="text-center my-4">
	Register to YelpCamp!
</h1>


<div class="container w-50">
	<form action="/register" method="POST">
  		<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
  		</div>
		<input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
	</form>
	<br />
	<a href="/">Go Back</a>
</div>

<% include partials/footer %>